<a href="https://colab.research.google.com/github/ihumanoid/analytics/blob/main/02_isom352_basics01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print(2**10)
print('hey')
print("hello")

1024
hey
hello

In [8]:
a = 123456
b = "hi there"
c = [1, 2, 3]

In [11]:
print(a*12)
print(b*2)
print(c)

1481472
hi therehi there
[1, 2, 3]

In [14]:
type(c)

list

In [22]:
d = "123"
print(d*4)

123123123123

In [25]:
print("123" + "321")
print(123+321)
print(int("123")+int("321"))

123321
444
444

In [20]:
e = int(d)
print(e*2)

246

In [21]:
int(b)

ValueError: ignored

In [32]:
n = input("dsjgsdfudgf:")

dsjgsdfudgf:352

In [34]:
print(type(n))
print(n)
print(int(n))

<class 'str'>
352
352

In [35]:
A = 100000
r = 0.05
n = 48
p = A*(r/12)/(1-(1+r/12)**(-n))
print(p)

2302.9293570646587

In [36]:
A = int(input("please enter loan amount: "))
r = 0.05
n = 48
p = A*(r/12)/(1-(1+r/12)**(-n))
print(p)

please enter loan amount: 15000
345.4394035596988

In [39]:
cs = int(input("eneter your credit score:"))
if cs >= 700:
  print("loan approved")
else:
  print("loan rejected")

IndentationError: ignored

In [41]:
cs = 690
la = 90000
if cs >= 700:
  print("loan approved")
  la = int(input("enter loan amount:"))
  if la <100000:
    print("outside of if")

In [ ]:
age = int(input("enter your age:"))

if age <= 40: 
  income = int(input("enter your income:"))
  if income > 166500:
    print("car loan for amount $", A, " granted")
  else:
    print("car loan for amount $", A, " NOT granted")
else:
  monthly_savings = int(input("enter your monthly savings:"))
  if monthly_savings > 433:
    print("car loan for amount $", A, " granted")
  else:
    print("car loan for amount $", A, " NOT granted")

In [44]:
bvar = True
if bvar:
  print("pass")

pass

In [1]:
%pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [8]:
try:
  str_age = input("enter your age:")
  age = int(str_age)
  inverse_age = 1/age
except ValueError:
  print("entered age is not numeric. Try again!")
except ZeroDivisionError:
  print("system encountered error in handling this age. Try again!")
except:
  print("unexpected error:", sys.exc_info()[0])

enter your age:40