<a href="https://colab.research.google.com/github/ihumanoid/analytics/blob/main/03_isom352_func_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = input("eneter age")
n = int(a)
print("age:",n)

eneter ageten

ValueError: ignored

In [11]:
try:
  a = input("eneter age")
  n = 1/int(a)
  print("age:",n)
except ValueError:
  print("age entered is not numeric")
  n = 0
except ZeroDivisionError:
  print("entered age is zero")
  n = 10000
except:
  print("some error occured")
print("continuing with code", n)

eneter ageten
age entered is not numeric
continuing with code 0

In [15]:
 def inputTOint(s):
   a = input(s)
   b = int(a)
   return "converted age"

print(inputTOint("enetr your age")*2)

enetr your age5
converted ageconverted age

In [17]:
def inputTOint():
   a = input("enter age")
   b = int(a)
   return b

print(inputTOint()*2)

enter age5
10

In [22]:
def addInputs(s, z):
   a = input(s)
   c = input(z)
   b = int(a)+int(c)
   return b

print(addInputs("eneter num 1", "eneter num 2"))

print(addInputs("1?", "2?"))

eneter num 1123
eneter num 2234
357
1?12
2?21
33

In [26]:
def addInputs(s, z):
  return 10
  a = input(s)
  c = input(z)
  b = int(a)+int(c)
  return b

print(addInputs("eneter num 1", "eneter num 2"))

10

In [29]:
def inputTOint():
   try:
     a = input("enter age")
     b = int(a)
   except:
    print("non numeric value encountered")
    b=0
   return b

print(inputTOint()*2)

enter ageten
non numeric value encountered
0

In [31]:
def inputTOint():
   success = False
   while success == False:
    try:
      a = input("enter age")
      b = int(a)
      success = True
    except:
      print("non numeric value encountered")
   return b

print(inputTOint())

enter ageten
non numeric value encountered
enter agefive
non numeric value encountered
enter age7
7

In [35]:
N = 0
while True:
  N = N+1
  print("N: ", N)
  if N>10:
    break

N:  1
N:  2
N:  3
N:  4
N:  5
N:  6
N:  7
N:  8
N:  9
N:  10

In [38]:
N = 0
while True:
  if N<5:
    N = N+1
    print("N: ", N)
    continue
  
  if N>10:
    break

N:  1
N:  2
N:  3
N:  4

In [7]:
print(1/0)

ZeroDivisionError: ignored