In [ ]:
#%pip install pandas
import pandas as pd

ds = pd.Series([1,2,3,4])
print(ds)
print(ds[1])

In [ ]:
ds.index

In [ ]:
ds.values

In [ ]:
df = pd.DataFrame({'product':['app', 'ban', 'choc'],'price':[1.99, 2.99, 3.99]})
print(df['product'][1], df['price'][1])

In [ ]:
df = pd.DataFrame({'price':[1.99, 2.99, 3.99]}, index=['app', 'ban', 'choc'])
print(df)

In [ ]:
print(df['price'].mean())
print(df['price'].min())
print(df['price'].max())
print(df['price'].median())
dir(df['price'])

In [19]:
df = pd.read_csv("datasets/gapminder.tsv", sep="\t")
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [18]:
df = pd.read_csv("datasets/weather.csv", sep=",")
print(df)

         id  year  month element    d1    d2    d3    d4    d5    d6  ...  \
0   MX17004  2010      1    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
1   MX17004  2010      1    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
2   MX17004  2010      2    tmax   NaN  27.3  24.1   NaN   NaN   NaN  ...
3   MX17004  2010      2    tmin   NaN  14.4  14.4   NaN   NaN   NaN  ...
4   MX17004  2010      3    tmax   NaN   NaN   NaN   NaN  32.1   NaN  ...
5   MX17004  2010      3    tmin   NaN   NaN   NaN   NaN  14.2   NaN  ...
6   MX17004  2010      4    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
7   MX17004  2010      4    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
8   MX17004  2010      5    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
9   MX17004  2010      5    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
10  MX17004  2010      6    tmax   NaN   NaN   NaN   NaN   NaN   NaN  ...
11  MX17004  2010      6    tmin   NaN   NaN   NaN   NaN   NaN   NaN  ...
12  MX17004  2010      7    tmax   NaN   NaN  28.6   NaN   NaN   NaN  ...
13  MX17004  2010      7    tmin   NaN   NaN  17.5   NaN   NaN   NaN  ...
14  MX17004  2010      8    tmax   NaN   NaN   NaN   NaN  29.6   NaN  ...
15  MX17004  2010      8    tmin   NaN   NaN   NaN   NaN  15.8   NaN  ...
16  MX17004  2010     10    tmax   NaN   NaN   NaN   NaN  27.0   NaN  ...
17  MX17004  2010     10    tmin   NaN   NaN   NaN   NaN  14.0   NaN  ...
18  MX17004  2010     11    tmax   NaN  31.3   NaN  27.2  26.3   NaN  ...
19  MX17004  2010     11    tmin   NaN  16.3   NaN  12.0   7.9   NaN  ...
20  MX17004  2010     12    tmax  29.9   NaN   NaN   NaN   NaN  27.8  ...
21  MX17004  2010     12    tmin  13.8   NaN   NaN   NaN   NaN  10.5  ...

    d22   d23  d24   d25   d26   d27   d28   d29   d30   d31
0   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  27.8   NaN
1   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN  14.5   NaN
2   NaN  29.9  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN  10.7  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   NaN   NaN  NaN   NaN   NaN  36.3   NaN   NaN   NaN   NaN
7   NaN   NaN  NaN   NaN   NaN  16.7   NaN   NaN   NaN   NaN
8   NaN   NaN  NaN   NaN   NaN  33.2   NaN   NaN   NaN   NaN
9   NaN   NaN  NaN   NaN   NaN  18.2   NaN   NaN   NaN   NaN
10  NaN   NaN  NaN   NaN   NaN   NaN   NaN  30.1   NaN   NaN
11  NaN   NaN  NaN   NaN   NaN   NaN   NaN  18.0   NaN   NaN
12  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  NaN  26.4  NaN  29.7   NaN   NaN   NaN  28.0   NaN  25.4
15  NaN  15.0  NaN  15.6   NaN   NaN   NaN  15.3   NaN  15.4
16  NaN   NaN  NaN   NaN   NaN   NaN  31.2   NaN   NaN   NaN
17  NaN   NaN  NaN   NaN   NaN   NaN  15.0   NaN   NaN   NaN
18  NaN   NaN  NaN   NaN  28.1  27.7   NaN   NaN   NaN   NaN
19  NaN   NaN  NaN   NaN  12.1  14.2   NaN   NaN   NaN   NaN
20  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[22 rows x 35 columns]

In [22]:
df.tail(10)

       country continent  year  lifeExp       pop   gdpPercap
1694  Zimbabwe    Africa  1962   52.358   4277736  527.272182
1695  Zimbabwe    Africa  1967   53.995   4995432  569.795071
1696  Zimbabwe    Africa  1972   55.635   5861135  799.362176
1697  Zimbabwe    Africa  1977   57.674   6642107  685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298